.controls{
    width:100%;
    height:25%;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    
}
.layer{
    position:absolute;
    width: 100%;
    height:100%;
    background: black;
    opacity:0.7;
    border-radius: 0px 0px 10px 10px;
}

.buttons{
    width:40%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.button{
    text-align: center;
}

.button button{
    width:30px;
    height: 30px;
    transform: scale(1.5);
    outline:none;
    border:none;
    background: none;
}
.button i{
    font-size:22px;
    color:bisque;
}

.play{
    border-radius: 50%;
}
.bloom{
    box-shadow:5px 5px 5px 2px rgb(214, 83, 214);
}

.vol-outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height:10px;
    right:10px;
    position: absolute;
    
}
.volContainer{
    width:90%;
    height:100%;
    background-color: aqua;
    
}
.volume{
    height:100%;
    background:rgb(117, 248, 117);
}
.volIcon{
    font-size: 22px;
    color:bisque;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    margin:3px 0px;
}

.lyricscontrol{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    left:10px;
    width:20%;
    font-size:22px;
    color:bisque;
    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.playbar{
    display: flex;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    height:10px;
    top:0;
    width:100%;
    background:aqua;
}
.progress{
    height:100%;
    width:0;
    background:linear-gradient(to right,rgb(243, 243, 62),rgb(245, 164, 57));
}
.barend{
    width:10px;
    height:13px;
    background: rgb(141, 121, 121);
}

@media screen and (max-width:678px){

    i{
        font-size:15px;
    }
    .button button {
        transform:scale(0.8);
       
    }

    .volIcon{
        padding:3px 0px;
        
    }
}