.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding:0;
  margin-top:30px;
  
}

@media screen and (max-height:667px){
  .App{
    min-width:665px;
  }
}



